.root {
    -fx-background-color: rgb(39,39,39);
}

.creamyText{
    -fx-text-fill: #D8C4B6;
}

.windowButtons{
    -fx-background-color: rgb(39,39,39);
    -fx-background-radius: 0;
    -fx-text-fill: #D8C4B6;
    -fx-max-height: 40px;
    -fx-min-width: 40px;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-cursor: pointer;
}

.windowButtons:hover{
    -fx-background-color: rgb(44,44,44);
}

.windowButtons:pressed{
    -fx-background-color: rgb(49,49,49);
}

#exitButton:hover{
    -fx-background-color: red;
}

#exitButton:pressed{
    -fx-background-color: #b20000;
}

.hboxAlign{
    -fx-spacing: 100px;
}

.buttonCommon{
    -fx-background-color: #D8C4B6;
    -fx-text-fill: rgb(32,32,32);
    -fx-max-height: 40px;
    -fx-min-width: 40px;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 100px;
    /* border */
    -fx-border-color: #F5EFE7;
    -fx-border-width: 2px;
    -fx-border-radius: 100px;
    -fx-padding: 10px;
}

.buttonCommon:hover{
    -fx-background-color: #eed8c8;
    -fx-cursor: hand;
}

.buttonCommon:pressed{
    -fx-background-color: #cbb5a6;
}

.textField{
    -fx-background-color: #D8C4B6;
    -fx-background-radius: 12px;
    /* border */
        -fx-border-color: rgb(29,29,29);
        -fx-border-width: 2px;
        -fx-border-radius: 10px;
    -fx-pref-width: 300px;
}

.bottomMain{
    -fx-background-color: rgb(39,39,39);
    -fx-border-color: rgb(32,32,32);
    -fx-border-width: 1px;
}

.leftMain{
    -fx-background-color: rgb(32,32,32);
    -fx-border-color: rgb(29,29,29);
    -fx-border-width: 1px;
}

.leftMainButtons{
    -fx-background-color: rgb(32,32,32);
    -fx-border-radius: 5px;
    -fx-border-color: #D8C4B6;
}

.leftMainButtons:hover{
    -fx-background-color: rgb(44,44,44);
    -fx-cursor: cursor;
    -fx-border-radius: 5px;
    -fx-border-color: #D8C4B6;
}

.leftMainButtons:pressed{
    -fx-background-color: rgb(49,49,49);
    -fx-cursor: cursor;
    -fx-border-radius: 5px;
    -fx-border-color: #D8C4B6;
}

.selectedText{
    -fx-text-fill: #89CFF0;
}

.leftMainButtonSelected{
    -fx-background-color: rgb(32,32,32);
    -fx-border-radius: 5px;
    -fx-border-color: #89CFF0;
}

.leftMainButtonSelected:hover{
    -fx-background-color: rgb(44,44,44);
    -fx-cursor: cursor;
    -fx-border-radius: 5px;
    -fx-border-color: #89CFF0;
}

.leftMainButtonSelected:pressed{
    -fx-background-color: rgb(49,49,49);
    -fx-cursor: cursor;
    -fx-border-radius: 5px;
    -fx-border-color: #89CFF0;
}

.playPauseButton{
    -fx-background-color: #D8C4B6;
    -fx-background-radius: 100;
    -fx-text-fill: white;

    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
}

.playPauseButton:hover{
    -fx-cursor: hand;
}

.controlButtons{
    -fx-background-color: none;
    -fx-background-radius: 100;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
}

.custom-slider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.custom-slider .track {
    -fx-background-color: gray;
    -fx-background-radius: 2px;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-pref-height: 4px;
}

.custom-slider .filled-track {
    -fx-background-color: #89CFF0;
    -fx-background-radius: 2px;
    -fx-pref-height: 4px;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.custom-slider .thumb {
    -fx-background-color: #D8C4B6;
    -fx-background-radius: 50%;
    -fx-shape: null;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.custom-slider .track:hover{
    -fx-cursor: hand;
}

.custom-slider .thumb:hover{
    -fx-cursor: hand;
}

.scroll-bar:vertical {
    -fx-background-color: rgb(39,39,39);
}

.scroll-bar:vertical .track {
    -fx-background-color: rgb(39,39,39);
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(100, 100, 100, 0.5);
    -fx-background-insets: 2;
    -fx-background-radius: 4;
}

.scroll-bar:vertical .thumb:hover {
    -fx-cursor:hand;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-opacity: 0;
}

.table-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.scroll-pane{
    -fx-background-color: rgb(39,39,39);
}

.invisibleButton{
    -fx-background-color: rgb(39,39,39);
    -fx-background-radius: 0;
    -fx-text-fill: #D8C4B6;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.blueButtons{
    -fx-background-color: rgb(39,39,39);
    -fx-background-radius: 0;
    -fx-text-fill: #89CFF0;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-cursor: hand;
    -fx-border-color: #89CFF0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.redButtons{
    -fx-background-color: rgb(39,39,39);
    -fx-background-radius: 0;
    -fx-text-fill: red;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-cursor: hand;
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.xblueButtons{
    -fx-background-color: #89CFF0;
    -fx-background-radius: 5;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-cursor: hand;
    -fx-border-color:  #89CFF0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.context-menu {
    -fx-background-color: rgb(39, 39, 39);
    -fx-border-color: #89CFF0;
    -fx-border-width: 1px;
}

.menu-item {
    -fx-background-color: rgb(39, 39, 39);
    -fx-text-fill: #89CFF0;
    -fx-cursor: hand;
}

.menu-item:focused {
    -fx-background-color: #1e1e1e;
}

.menu-button {
    -fx-text-fill: #89CFF0;
}

.songEntry {
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-pref-width: 100%;
}

.songEntry:hover {
    -fx-background-color: #333;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


.table-view .scroll-bar:horizontal {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    visibility: hidden;
}

.queue-table {
    -fx-background-color: rgb(39,39,39);
    -fx-text-fill: white;
}

.queue-table .table-row-cell {
    -fx-background-color: rgb(39,39,39);
    -fx-text-fill: white;
}

.queue-table .table-row-cell:odd {
    -fx-background-color: rgb(30,30,30);
}

.main-table .table-row-cell:selected {
    -fx-background-color: #89CFF0 !important;
    -fx-text-fill: black;
}

.table-view .table-row-cell:hover{
    -fx-background-color: rgb(60,60,60);
    -fx-text-fill: black;
}

.queue-table .column-header {
    -fx-background-color: #D8C4B6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.queue-table .table-cell {
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.queue-table .table-view .scroll-bar:vertical {
    -fx-background-color: rgb(20,20,20);
}

.queue-table .table-view .scroll-bar:horizontal {
    -fx-background-color: rgb(20,20,20);
}

.queue-table .table-row-cell:first-child .table-cell {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.toggle-button {
    -fx-background-color: rgb(39,39,39);
    -fx-padding: 0.25em;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-alignment: center-left;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #D8C4B6;
}

.toggle-button:hover{
    -fx-background-color: rgb(49,49,49);
    -fx-border-color: #666;
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-background-color: #89CFF0;
    -fx-alignment: center-right;
    -fx-text-fill: black;
}

.toggle-button .text {
    -fx-background-color: white;
    -fx-shape: "M0,0 h20 a10,10 0 0 1 0,20 h-20 a10,10 0 0 1 0,-20 z";
    -fx-padding: 0;
}

.check-box .box{
    -fx-background-color: transparent;
    -fx-border-color: #89CFF0;
    -fx-border-radius: 5;
}

.check-box{
        -fx-text-fill: #89CFF0;
}

.check-box:selected .mark{
    -fx-background-color: transparent;
    -fx-border-color: #89CFF0;
    -fx-shape: "M0,4 L3,7 L8,0";
}