.root {
    -fx-background-color: rgb(39,39,39);
}

.creamyText{
    -fx-text-fill: #D8C4B6;
}

.windowButtons{
    -fx-background-color: rgb(39,39,39);
    -fx-background-radius: 0;
    -fx-text-fill: #D8C4B6;
    -fx-max-height: 40px;
    -fx-min-width: 40px;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
}

.windowButtons:hover{
    -fx-background-color: rgb(44,44,44);
}

.windowButtons:pressed{
    -fx-background-color: rgb(49,49,49);
}

#exitButton:hover{
    -fx-background-color: red;
}

#exitButton:pressed{
    -fx-background-color: #b20000;
}

.hboxAlign{
    -fx-spacing: 100px;
}

.buttonCommon{
    -fx-background-color: #D8C4B6;
    -fx-text-fill: #3E5879;
    -fx-max-height: 40px;
    -fx-min-width: 40px;
    -fx-translate-y: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 100px;
    /* border */
    -fx-border-color: #F5EFE7;
    -fx-border-width: 2px;
    -fx-border-radius: 100px;
    -fx-padding: 10px;
}

.buttonCommon:hover{
    -fx-background-color: #eed8c8;
    -fx-cursor: hand;
}

.buttonCommon:pressed{
    -fx-background-color: #cbb5a6;
}

.textField{
    -fx-background-color: #D8C4B6;
    -fx-background-radius: 12px;
    /* border */
        -fx-border-color: rgb(29,29,29);
        -fx-border-width: 2px;
        -fx-border-radius: 10px;
    -fx-pref-width: 300px;
}

.bottomMain{
    -fx-background-color: rgb(39,39,39);
    -fx-border-color: rgb(32,32,32);
    -fx-border-width: 1px;
}

.leftMain{
    -fx-background-color: rgb(32,32,32);
    -fx-border-color: rgb(29,29,29);
    -fx-border-width: 1px;
}

.leftMainButtons{
    -fx-background-color: rgb(32,32,32);
    -fx-border-radius: 5px;
}

.leftMainButtons:hover{
    -fx-background-color: rgb(44,44,44);
    -fx-cursor: cursor;
    -fx-border-radius: 5px;
}

.leftMainButtons:pressed{
    -fx-background-color: rgb(49,49,49);
    -fx-cursor: cursor;
    -fx-border-radius: 5px;
}